<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gilberts Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <nav class="navbar">
    <p>nav</p>
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      <li class="li-inline nav-item"><a
          href="#"
          id="logout-link"
        >Logout</a></li>
    </ul>
  </nav>

  <body>

    <header class="header">
      <h1 class="header-title">Gilberts Tech Blog HEADER </h1>
    </header>

    <main class="main">

      <p>MAIN AREA</p>
      {{{body}}}
    </main>

    <footer class="flex-row justify-center">
      <p class="footer-text">Gilberts Tech Blog Footer AREA </p>
    </footer>
  </body>
</html>