<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gilberts Tech Blog</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&family=Space+Mono&display=swap"
      rel="stylesheet"
    />
  </head>
  <nav class="navbar">
    <h1 id="headline">Tech Blog: Journal for the junior developer-Gilbert Perez
    </h1>
    <ul>
      <li class="nav-item"><a class="nav-link-home" href="/">Home</a></li>
      <li class="nav-item"><a
          class="nav-link"
          href="./dashboard"
        >Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
      <li class="nav-item"><a href="logout" id="logout-link">Logout</a></li>
    </ul>
  </nav>

  <body>

    <main class="main">

      <p>MAIN AREA</p>
      {{{body}}}

    </main>

    <footer class="flex-row justify-center" id="footer">
      <p class="footer-text"><p>&copy; 2023 GPTechBlog. All Rights Reserved.</p>
      </p>
    </footer>
    <script src="/js/logout.js"></script>
  </body>
</html>